.card
  .card-header
    Register
  .card-body
    = render 'shared/alerts'
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      - if f.error_notification.present?
        .alert.alert-danger= f.error_notification 
      = f.input :username, required: true, autofocus: true
      = f.input :password, required: true
      = f.input :password_confirmation, required: true
      .row
        .col-sm= link_to 'Login', new_user_session_path, class: 'btn btn-light'
        .col-sm.text-right= f.submit 'Register', class: 'btn btn-primary'
