%tr
  %td
    = task.description
    = task_status_badge(task)
  %td
    %span{ class: task.important_css }= task.important_text
  %td
    %span{ class: task.urgent_css }= task.urgent_text
  %td
    = task_next_status_button(task)
