%tr
  %td
    = task.description
    = task_status_badge(task)
  %td
    %span{ class: task.important_css }= task.important_text
  %td
    %span{ class: task.urgent_css }= task.urgent_text
  %td.text-right
    = task_next_status_button(task)
    = link_to backlog_path(task.id), class: 'btn btn-sm btn-outline-danger', data: { confirm: 'are you sure?', method: :delete } do
      %span.oi.oi-trash
